@model BSIT3L_Movies.Models.MovieViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Random Movie</title>
</head>
<body>
    <h2>Random Movie</h2>
    <p>Name: @Model.Name</p>
    <p>Rating: @Model.Rating</p>
    <p>Description: @Model.Description</p>
    <p>ImageUrl: @Model.ImageUrl</p>
    <p>Images: @Model.Images</p>
    <p>YouTubeUrl: @Model.YouTubeUrl</p>
</body>
</html>